/* ===
Site Skeleton Boiler Plate
Pete Schuster http://peteschuster.com
Version: 2
Credits:
320 and Up - URL: http://stuffandnonsense.co.uk/projects/320andup/
HTML5 Boilerplate - URL: http://h5bp.com/
=== */
/* ===Mixins=== */
/* ===Styles For WordPress=== */
/* line 3, scss/_wordpress.scss */
.alignleft {
  margin: 0 .625em .625em 0;
  float: left;
  clear: both;
}

/* line 4, scss/_wordpress.scss */
.alignright {
  margin: 0 0 .625em .625em;
  float: right;
  clear: both;
}

/* line 6, scss/_wordpress.scss */
.aligncenter,
.gallery-icon img {
  margin: 0 auto .625em auto;
  float: none;
  clear: both;
  display: block;
}

/* line 7, scss/_wordpress.scss */
.alignnone {
  margin-bottom: .625em;
}

/* line 9, scss/_wordpress.scss */
p .alignleft {
  margin: 0 .8333em .8333em 0;
}

/* line 10, scss/_wordpress.scss */
p .alignright {
  margin: 0 0 .8333em .8333em;
}

/* line 11, scss/_wordpress.scss */
p .aligncenter {
  margin: 0 auto .8333em auto;
}

/* line 12, scss/_wordpress.scss */
p .alignnone {
  margin-bottom: .8333em;
}

/* See Also Figure/Figure Caption Styles */
/* line 15, scss/_wordpress.scss */
.wp-caption {
  margin-bottom: .625em;
  max-width: 100%!important;
  height: auto!important;
}

/* line 16, scss/_wordpress.scss */
.wp-caption img {
  margin-bottom: .625em;
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 17, scss/_wordpress.scss */
.wp-caption p {
  display: block;
  text-align: center;
  font-size: .688em;
  color: #666666;
  font-style: italic;
}

/* ===HEADER START=== */
/* line 25, scss/_wordpress.scss */
.header hgroup h1 {
  font-size: 2.5em;
}
/* line 26, scss/_wordpress.scss */
.header hgroup h2 {
  font-size: 1em;
}

/* ===CONTENT START=== */
/* line 36, scss/_wordpress.scss */
.post header h1 {
  margin-bottom: .20833em;
}
/* line 37, scss/_wordpress.scss */
.post header h2 {
  margin-bottom: .3125em;
}
/* line 38, scss/_wordpress.scss */
.post footer {
  margin-bottom: 1.25em;
}
/* line 39, scss/_wordpress.scss */
.post footer p {
  margin: 0;
  color: #666666;
}

/* line 45, scss/_wordpress.scss */
#comments > ul {
  margin: 0;
  font-size: 1em;
}
/* line 46, scss/_wordpress.scss */
#comments li.comment {
  margin-bottom: .625em;
  padding-bottom: .625em;
  clear: both;
}
/* line 47, scss/_wordpress.scss */
#comments li.odd > figure {
  margin-right: 1.25em;
  float: left;
}
/* line 48, scss/_wordpress.scss */
#comments li.even > figure {
  margin-left: 1.25em;
  float: right;
}
/* line 49, scss/_wordpress.scss */
#comments li.comment > figure {
  width: 65px;
}
/* line 50, scss/_wordpress.scss */
#comments li.comment > div > p {
  clear: both;
}
/* line 51, scss/_wordpress.scss */
#comments li.comment > div ul {
  margin: 0 0 1.666em 1.666em;
  font-size: .75em;
  list-style-type: circle;
}
/* line 52, scss/_wordpress.scss */
#comments li.comment > div ul ul {
  margin-bottom: 0;
  font-size: 1em;
}
/* line 53, scss/_wordpress.scss */
#comments li.comment > div > footer {
  padding-top: .625em;
}
/* line 54, scss/_wordpress.scss */
#comments li.comment > div > footer h3 {
  margin-bottom: .41666em;
}

/* line 58, scss/_wordpress.scss */
.entry {
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
}

/* line 62, scss/_wordpress.scss */
.bypostauthor,
.gallery-caption,
.sticky {
  position: static;
}

/* ===SIDEBAR START=== */
/* line 68, scss/_wordpress.scss */
.sidebar > ul,
.sidebar > ul > li {
  margin-left: 0;
  font-size: 1em;
  list-style: none;
}
/* line 69, scss/_wordpress.scss */
.sidebar > ul ul {
  margin-bottom: 1.666em;
  font-size: .75em;
}
/* line 70, scss/_wordpress.scss */
.sidebar > ul ul ul {
  margin: 0;
  font-size: 1em;
}

/* ===Styles For Drupal=== */
/* ===RESETS=== */
/* line 19, scss/style.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* line 21, scss/style.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 22, scss/style.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  background: url("../images/ui/bg_page.png") repeat-x 0 0 white;
  color: #333333;
  word-wrap: break-word;
}

/* ===GENERAL FIELDSETS=== */
/* line 27, scss/style.scss */
label {
  font-size: .75em;
  line-height: 2em;
  display: block;
  cursor: pointer;
}

/* line 35, scss/style.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=file],
textarea,
select {
  margin-bottom: .75em;
  padding: .5em 1%;
  width: 97%;
  border: 1px solid #666666;
  background-color: #fff;
  font-size: .75em;
  color: #000;
}

/* line 36, scss/style.scss */
input[type=submit] {
  padding: .5em 1em;
  background: #666666;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-apperance: none;
}

/* line 38, scss/style.scss */
input[type=submit]:hover,
input[type=submit]:focus {
  background: #333333;
}

/* line 39, scss/style.scss */
textarea {
  width: 98%;
  height: 8em;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* ===GENERAL ELEMENT STYLES=== */
/* line 44, scss/style.scss */
h1 {
  margin-bottom: 0.556em;
  font-size: 2.25em;
  line-height: 1.333em;
}

/* line 45, scss/style.scss */
h2 {
  margin: 1.25em 0 0.625em;
  font-size: 1.5em;
  line-height: 1.333em;
}

/* line 46, scss/style.scss */
h3 {
  margin: 0.556em 0;
  font-size: 1.125em;
  line-height: 1.5em;
}

/* line 47, scss/style.scss */
h4 {
  margin-bottom: 0.714em;
  font-size: 0.875em;
  line-height: 1.143em;
}

/* line 48, scss/style.scss */
h5 {
  margin-bottom: 0.833em;
  font-size: .75em;
}

/* line 49, scss/style.scss */
h6 {
  margin-bottom: 1em;
  font-size: 0.625em;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 51, scss/style.scss */
hgroup {
  margin-bottom: 1.25em;
}
/* line 57, scss/style.scss */
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4
h5,
hgroup h6 {
  margin: 0;
}

/* line 60, scss/style.scss */
a {
  text-decoration: underline;
  color: #999;
}

/* line 62, scss/style.scss */
a:hover,
a:focus {
  text-decoration: none;
  color: #ccc;
}

/* line 63, scss/style.scss */
a:focus {
  outline: thin dotted;
}

/* line 65, scss/style.scss */
a.button {
  margin-bottom: 1.125em;
  padding: .5em 1em;
  display: inline-block;
  font-size: .75em;
  background: #333333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

/* line 67, scss/style.scss */
a.button:hover,
a.button:focus {
  background: #666666;
}

/* line 68, scss/style.scss */
a.button + a.button {
  margin-left: 1em;
}

/* line 71, scss/style.scss */
p a.button,
ul a.button,
dl a.button {
  margin: 0;
  font-size: 1em;
}

/* line 77, scss/style.scss */
p,
ul,
ol,
dl,
address {
  margin-bottom: 1.667em;
  line-height: 1.5em;
  font-size: .75em;
}

/* line 82, scss/style.scss */
ul,
ul li,
ol,
ol li,
dd {
  margin-left: 1.667em;
}

/* line 84, scss/style.scss */
ul ul,
ol ol {
  margin: 0;
  font-size: 1em;
}

/* line 86, scss/style.scss */
ul.inline {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  list-style: none;
}

/* line 87, scss/style.scss */
ul.inline > li > ul {
  margin-bottom: 1.666em;
}

/* line 89, scss/style.scss */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 91, scss/style.scss */
figure {
  margin-bottom: .625em;
  max-width: 100%!important;
  height: auto!important;
}

/* line 95, scss/style.scss */
figure img,
figure object,
figure embed,
figcaption {
  margin-bottom: .625em;
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 96, scss/style.scss */
figcaption p {
  display: block;
  text-align: center;
  font-size: .688em;
  color: #666666;
  font-style: italic;
}

/* line 98, scss/style.scss */
table {
  margin-bottom: 1.125em;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
}

/* line 99, scss/style.scss */
th {
  padding: 1em;
  font-size: .875em;
  color: #fff;
  background: #333333;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

/* line 100, scss/style.scss */
td {
  padding: 1em;
  font-size: .75em;
  vertical-align: top;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

/* line 105, scss/style.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 106, scss/style.scss */
pre {
  margin: 0 1.25em 1.25em;
  padding: 1.25em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #333333;
  color: #fff;
}

/* line 107, scss/style.scss */
small {
  font-size: 85%;
}

/* line 109, scss/style.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 110, scss/style.scss */
sup {
  top: -0.5em;
}

/* line 111, scss/style.scss */
sub {
  bottom: -0.25em;
}

/* line 112, scss/style.scss */
blockquote {
  margin: 0 1.125em 1.125em;
  padding: 1.125em;
  border-left: 0.25em solid #666666;
  display: block;
  background: #eee;
  font-style: italic;
  overflow: hidden;
}

/* line 113, scss/style.scss */
blockquote p {
  font-size: 1em;
}

/* line 115, scss/style.scss */
hr {
  margin: 0 0 1.25em;
  padding: 0;
  height: 1px;
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  clear: both;
}

/* ===BEGIN STRUCTURE AND CUSTOM ELEMENTS=== */
/* line 121, scss/style.scss */
#container,
.wrapper {
  margin: 0 .75em;
  padding: 0 1em;
}

/* ===HEADER START=== */
/* line 126, scss/style.scss */
.header {
  margin: 1.25em 0;
  /* end .header nav */
}
/* line 128, scss/style.scss */
.header .logo {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/ui/logo.png") 0 0 no-repeat;
  float: left;
}
/* line 130, scss/style.scss */
.header nav {
  margin: 0 0 1.25em;
  clear: right;
  float: right;
  /* for dropdowns */
}
/* line 132, scss/style.scss */
.header nav li {
  display: block;
}
/* line 133, scss/style.scss */
.header nav a {
  padding: .75em 1em;
  text-decoration: none;
  display: block;
}
/* line 135, scss/style.scss */
.header nav a:hover,
.header nav li.active a {
  text-decoration: underline;
}
/* line 138, scss/style.scss */
.header nav li {
  position: relative;
  z-index: 999;
}
/* line 139, scss/style.scss */
.header nav li ul {
  position: absolute;
  display: none;
  z-index: 999;
}
/* line 140, scss/style.scss */
.header nav li:hover ul {
  display: block;
}
/* line 141, scss/style.scss */
.header nav li li {
  margin: 0;
  float: none;
  clear: both;
}
/* line 143, scss/style.scss */
.header nav li li a,
.header nav li.active li a {
  padding: .75em;
  width: 150px;
  height: auto;
  border-bottom: 1px solid #666666;
  background: #333333;
  color: #ccc;
  text-decoration: none;
}
/* line 144, scss/style.scss */
.header nav li li a:hover {
  background: #666666;
}

/* end .header */
/* ===CONTENT START=== */
/* line 152, scss/style.scss */
.content {
  margin-bottom: 1.25em;
}

/* ===SIDEBAR START=== */
/* ===FOOTER START=== */
/* line 162, scss/style.scss */
.footer {
  padding: 1.25em 0;
  background: #333333;
  color: #fff;
}
/* line 164, scss/style.scss */
.footer nav ul {
  font-size: .75em;
}
/* line 165, scss/style.scss */
.footer nav ul ul {
  display: none;
}
/* line 166, scss/style.scss */
.footer nav li {
  margin-left: .75em;
  padding-left: .75em;
  border-left: 1px solid #fff;
}
/* line 167, scss/style.scss */
.footer nav li:first-child {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 168, scss/style.scss */
.footer p, .footer ul {
  margin-bottom: 1em;
}
/* line 169, scss/style.scss */
.footer a {
  color: #fff;
}

/* end footer */
/* ===MEDIA QUERIES START=== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  /* line 178, scss/style.scss */
  #container {
    margin: 0 0 0 10%;
    width: 80%;
  }

  /* 960 / 1200px */
  /* line 179, scss/style.scss */
  .wrapper {
    margin: 0 0 0 10%;
    width: 80%;
  }

  /* line 181, scss/style.scss */
  .content-main {
    width: 74.375%;
    float: left;
  }

  /* line 182, scss/style.scss */
  .sidebar {
    width: 23.125%;
    float: right;
  }
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
  /* line 189, scss/style.scss */
  ul.inline li {
    margin-left: 1em;
    float: left;
  }

  /* line 190, scss/style.scss */
  ul.inline li:first-child {
    margin: 0;
  }
}
@media only print {
  /* line 195, scss/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 196, scss/style.scss */
  .header, .footer, .sidebar, img, form {
    display: none !important;
  }

  /* line 197, scss/style.scss */
  #container, .content, .content-main {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* line 198, scss/style.scss */
  a {
    text-decoration: underline;
  }

  /* line 199, scss/style.scss */
  pre, blockquote, tr, h2, h3 {
    page-break-inside: avoid;
  }

  /* line 200, scss/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
}
/* ===NON-SEMANTIC HELPER CLASES=== */
/* line 205, scss/style.scss */
.right {
  float: right;
}

/* line 206, scss/style.scss */
.left {
  float: left;
}

/* line 207, scss/style.scss */
.clear {
  clear: both;
}

/* line 208, scss/style.scss */
.hide {
  display: none;
}

/* ===CLEAR FIX=== */
/* line 212, scss/style.scss */
.clearfix:after {
  height: 0;
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}

/* line 213, scss/style.scss */
.clearfix {
  display: inline-block;
  zoom: 1;
}

/* line 214, scss/style.scss */
.clearfix {
  display: block;
}

/* ===HTML5 RESETS=== */
/* line 218, scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 219, scss/style.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 220, scss/style.scss */
audio:not([controls]) {
  display: none;
}

/* line 221, scss/style.scss */
[hidden] {
  display: none;
}
