.right 	{ float: right}
.left 	{ float: left; }
.clear 	{ clear: both; }
.hide 	{ display: none; }

body { font-family: Verdana, Geneva, sans-serif; background: url('../images/ui/bg_page.png') repeat-x 0 0 #fff; color: #333; }

* { margin: 0; padding: 0; list-style-type: none; }

#container	{ width: 83.333%; margin-left: 8.3333%; }
.wrapper 		{ width: 83.333%; margin-left: 8.3333%; }

img { border: none; }

h1 { margin-bottom: .469em; line-height: 1.5em; color: #333; font-size: 1.5em; }
h2 { margin-bottom: .417em; line-height: 1.5em; color: #333; font-size: 1.125em; }
h3 { margin-bottom: .278em; line-height: 1.5em; color: #333; font-size: .875em; }

a 		{ text-decoration: underline; color: #999; }
a:hover 	{ text-decoration: none; color: #ccc; }

pre,
code,
kbd,
samp 		{ font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre 			{ margin: 0 1.5em 1.5em; padding: 0 1.5em; white-space: pre; white-space: pre-wrap; word-wrap: break-word; background: #333; color: #fff; }
small 		{ font-size: 85%; }
sub,
sup 			{ font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup 			{ top: -0.5em; }
sub 			{ bottom: -0.25em; }
blockquote 	{ margin: 0 1.5em 1.5em; padding: 1.5em 1.5em .5em 1.5em; display: block; background: #eee; font-style: italic; overflow: hidden; }

table 	{ border-collapse: collapse; border-spacing: 0; }
td 		{ vertical-align: top; }

/*88888888888888888888888888888888888888888888888888888888888888888888888
						HTML5 Resets
88888888888888888888888888888888888888888888888888888888888888888888888*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/*88888888888888888888888888888888888888888888888888888888888888888888888
						General Fieldsets
88888888888888888888888888888888888888888888888888888888888888888888888*/

label 			{ font-size: .75em; line-height: 2em; display: block; }
input[type=text],
input[type=password],
input[type=email],
input[type=file],
textarea,
select 			{ margin-bottom: .75em; padding: 1%; width:97%; border: 1px solid #666; background-color: #fff; color: #000; }
input[type=submit] 	{ background: #666; border: none; color: #fff; padding: 2%; }
textarea 			{ width: 98%; height: 100px; font-family: Arial, Helvetica, sans-serif; font-size: .75em; overflow: auto; vertical-align: top; resize: vertical; }
p textarea 		{ font-size: 1em; }

/*88888888888888888888888888888888888888888888888888888888888888888888888
						Clear Fix
88888888888888888888888888888888888888888888888888888888888888888888888*/

.clearfix:after 	{ height: 0; content: "."; display: block; clear: both; visibility: hidden; }
.clearfix 		{ display: inline-block; }
.clearfix 		{ display: block; }

/*88888888888888888888888888888888888888888888888888888888888888888888888
						HEADER START
88888888888888888888888888888888888888888888888888888888888888888888888*/

.header 	{ margin: 20px 0 0;}

.header .logo { display: block; text-indent:-9999px; overflow:hidden; background: url('../images/ui/logo.png') 0 0 no-repeat; float: left; }

.header nav 			{ margin:0 0 20px; clear: right; float: right; }
.header nav li 		{ float: left; display: block; }
.header nav a 			{ margin: 0 15px; padding: 10px 15px; text-decoration: none; display: block; font-size: .75em; }	
.header nav a:hover,
.header nav li.active a 	{ text-decoration: underline; }

.header nav li 			{ position: relative; z-index: 999; }
.header nav li ul 			{ position: absolute; display: none; z-index: 999; }
.header nav li li 			{ display: block; clear: both; }
.header nav li li a 		{ padding: 10px; width: 150px; height: auto; border-bottom: 1px solid #666; background: #333; color: #ccc; }
.header nav li li a:hover 	{ background: #666; text-decoration: none; }

/*88888888888888888888888888888888888888888888888888888888888888888888888
						CONTENT START
88888888888888888888888888888888888888888888888888888888888888888888888*/

.content p,
.content ul,
.content ol,
.content dl			{ margin-bottom: 1.5em; line-height: 1.5em; font-size: .75em; }
.content ul.circle,
.content ul.circle li,
.content ol,
.content ol li 		{ margin-left: 1.5em; }
.content ul.circle,
.content ul.circle li 	{ list-style-type: circle; }
.content ul.circle ul,
.content ul.circle ul li { list-style-type: disc; }
.content ul ul,
.content ol ol 		{ font-size: 1em; }
.content ol,
.content ol li 		{ list-style-type: decimal; }
.content ol ol,
.content ol ol li 		{ list-style-type: lower-roman; }
.content img.left,
.content .alignleft 	{ margin: 0 .75em .75em 0; float: left; clear: both; }
.content img.right,
.content .alignright 	{ margin: 0 0 .75em .75em; float: right; clear: both; }
.content .aligncenter 	{ margin: 0 auto .75em auto; float: none; clear: both; display: block; }

.content-main { width: 74%; float: left; }

/*88888888888888888888888888888888888888888888888888888888888888888888888
						SIDEBAR START
88888888888888888888888888888888888888888888888888888888888888888888888*/

.sidebar { width: 24%; float: right; }

.sidebar form	{ margin-bottom: 1.5em; padding: 1em; background: #eee; }

/*88888888888888888888888888888888888888888888888888888888888888888888888
						FOOTER START
88888888888888888888888888888888888888888888888888888888888888888888888*/

.footer 					{ padding: 1.5em 0; background: #333; color: #fff; }
.footer nav ul 			{ padding-bottom: .75em; overflow: hidden; }
.footer nav li 			{ float: left; }
.footer nav a 				{ padding: 0 .75em; border-left: 1px solid #fff; }
.footer nav li:first-child a 	{ padding: 0 .75em 0 0; border: none; }
.footer p, footer ul 		{ padding-bottom: 5px; font-size: .688em; }
.footer a 				{ color: #fff; }


/*88888888888888888888888888888888888888888888888888888888888888888888888
				MEDIA QUERIES START
88888888888888888888888888888888888888888888888888888888888888888888888*/

@media only screen and (min-width: 480px) { 
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) { 
  /* Style adjustments for viewports 768px and over go here */

}

@media only print { 
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  .header, .footer, .sidebar, img, form { display: none !important; }
  #container, .content, .content-main { width:100%; padding: 0; margin: 0; }
  a { text-decoration: underline; }
  pre, blockquote, tr, h2, h3 { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
}
